//- ============================================================
//- COMPONENT: Footer
//- Simple footer with copyright text.
//- Usage: +footer()
//- ============================================================

mixin footer()
  footer.footer
    | © 2026 My App. All rights reserved.
